@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

*{
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  width: 100%;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(183, 244, 216,0.8);
}
.LOGO-TEXT-WRAPPER{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  margin-bottom: 15px;
}
.LogoDiv{
  width: 40%;
  margin-right:10px;
  padding-top: 5px;
}
.LogoDiv img{
  width: 18%;
  float: right;
  height: 90px;
}
.textDiv{
  display: flex;
  width: 40%;
  align-items: center;
  margin-left: 2%;
}
.textDiv h2{
  font-size: 22px;
  color: rgb(61, 60, 60);
  
}
.textDiv h2::first-letter{
  font-size: 40px;
  font-weight: bold;
}
.FORM-WRAPPER{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 150%;
  justify-content: center;
}
.Form-text-ContainerDiv{
  width: 95%;
  height: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 0 8px;
}
.TxtDiv{
  width: 100%;
  height:13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  /* background-color: blue; */
}
.TxtDiv h4{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: rgb(75, 74, 74);
  font-weight: 600;
}
.formDiv{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  /* background-color: crimson;  */
  min-height: 75%;
  justify-content: center;
  
}
.formDiv form{
  width: 100%;
  min-height: 100%;
  /* background-color: darkseagreen;   */
}
.inputWrapper-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:10%;
  /* background-color: cornflowerblue;  */
  justify-content:space-evenly;
}

.inputBox{
  position: relative;
  width: 25%;
}

.inputBox input{
  width: 100%;
  padding: 13px;
  border: 1px solid rgba(29, 28, 28, 0.25);
  background-color: white;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 15PX;
  transition: 0.5s;

}

.inputBox span{
  position: absolute;
  left:0;
  padding: 12px;
  pointer-events: none; 
  font-size: 17px;
  color: rgba(14, 10, 10, 0.6);
  text-transform:uppercase;
  transition: 0.5s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span{
  transform: translateX(10px) translateY(-6px);
  font-size: 8px;
  padding: 3px 8px;
  background: white;
  font-weight: bold;
  border-left: 2px solid #00dfc4;
  border-right: 2px solid #00dfc4;
  letter-spacing: 1.3;
  background: #00dfc4;
  color:white;
  border-radius:10px;
}

.Date span{
  color: #00dfc4;
  transform: translateX(10px) translateY(-6px);
  font-size: 11px;
  padding: 0 9px;
  background: white;
  font-weight: bolder;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 1.3;
}

.inputBox input:focus ,
.inputBox input:valid {
  border: 2px solid #00dfc4; 
}

.inputBox select{
  width: 100%;
  padding: 13px;
  border: 1px solid rgba(29, 28, 28, 0.25);
  background-color: white;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 15PX;
  cursor: pointer;
}

.SubmitBtnDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8%;
  justify-content: center;
}

.SubmitBtnDiv input{
  width: 25%;
  background-color: rgb(250, 216, 89);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size:15px;
  font-weight: 700;
}


.SubmitBtnDiv input:hover{
  background-color: rgb(241, 202, 57);
}

.SubmitBtnDiv img{
  position: absolute;
  width: 2.77%;
  margin-right:10%;
  margin-top: 9px;
}

#otherInput1{
  display: none;
  border: 0;
  border-bottom: 2px solid grey; /* Set border to zero */
  margin-top: 3px; /* Add some top margin for spacing */
  outline: none;
  margin-left: 3px;
}

.belowElements {
    margin-top: 0;
    transition: margin 0.5s;
}

.expandedMargin {
    margin-top: 40px; /* Adjust margin as needed */
}